/* google font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;700&display=swap');


body {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
    
}
.theme-text h1{
    font-size: 65px;
    color: #212529;
    margin-bottom: 15px;
}
.theme-text h1 span{
    position: relative;
    z-index: 1;
}
.theme-text h1 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(img/Element.png);
}
.theme-text p{
    color: #212529;
}

.theme-btn {
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #fff;
    transition: .5sec;
}

.theme-btn:hover {
    color: #FFF;
}

.theme-btn-two {
    display: inline-block;
    background: #FFE492;
    color: #043873 !important;
    border-radius: 8px;
    padding: 16px 24px !important;
}

.theme-btn img {
    margin-left: 10px;
}

/* !Header css */
.header-section {
    background-color: #043873;
    padding: 16px 0;
}

.header-section .nav-link {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
}

.header-section .navbar-toggler {
    border: none;
    box-shadow: none;
}

.header-section .theme-btn {
    margin-left: 24px;
}

.header-section .theme-btn-two {
    margin-left: 24px;
}

@media (max-width:991px) {
    .theme-btn {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }

    .theme-btn-two {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }
    .header-section .theme-btn {
        margin-left: 0;
    }
    
    .header-section .theme-btn-two {
        margin-left: 0;
    }
    .header-section .nav-link {
        position: relative;
        padding: 16px 0 !important;

    }

    .header-section .nav-link::after {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* !!! */
/* !hero css */
.hero-section{
    padding: 140px 0;
    background-image:url(img/Hero-section.png);
    background-size: cover;
    background-position: center;
}
.hero-section .theme-btn{
    margin-top: 30px;
}
.hero-text h1 {
    font-weight: 700;
    font-size: 52px;
    
}
@media (max-width:991px){
    .hero-section{
        padding: 80px 0;
    }
    .hero-text{
        text-align: center;
    }
    .hero-text h1 {
        font-size: 36px;
    }
    .hero-text .theme-btn{
        margin-bottom: 50px;
    }
}
/* !!! */
/* !manegment-section */
.manegment-section{
    padding: 140px 0;
}
.work-manegment{
    margin-top: 100px;
}

@media (max-width:991px){
    .manegment-section{
        padding: 80px 0;
    }
    .work-manegment{
        margin-top: 60px;
    }
    .theme-text{
        text-align: center;
    }
    .theme-text h1{
        font-style: 36px;
    }
    @media (max-width:991px){
        .manegment-section .theme-btn{
            margin-bottom: 50px;
        }
    }
}
/* !!! */

/* ! */
.extension-section{
    padding: 140px 0;
    background-color: #043873;
    color: #FFF;
}
.extension-section .theme-text h1{
    font-size: 65px;
    color: #fff;
    margin-bottom: 15px;
}
.extension-section .theme-text p{
   color: #fff;
}
@media (max-width:991px){
    .extension-section{
        padding: 80px 0;
       
    }
    .extension-section .theme-btn{
        margin-bottom: 50px;
    }
}
