/* google font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;700&display=swap');

body {
    background-color: #bbd9fc;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.theme-btn {
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    margin-left: 24px;
}

.theme-btn-two {
    display: inline-block;
    background: #FFE492;
    color: #043873 !important;
    border-radius: 8px;
    padding: 16px 24px !important;
    margin-left: 24px;
}

.theme-btn img {
    margin-left: 10px;
}

/* !Header css */
.header-section {
    background-color: #043873;
    padding: 16px 0;
}

.header-section .nav-link {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
}

@media (max-width:991px) {
    .theme-btn {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }

    .theme-btn-two {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }
    .header-section .nav-link {
        padding: 16px 0 !important;
    }
}